#active-game {
    text-align: center;
    margin: 2rem 0 5rem 0;
    display: none;
}

#game-over {
    width: 80%;
    max-width: 35rem;
    margin: auto;
    padding: 1rem 2rem;
    background-color: var(--secondary-blue-color);
    color: var(--primary-white-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: none;
}

#game-over h3 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

#active-player-name {
    font-weight: bold;
    color: var(--secondary-blue-color);
}

#game-board {
    list-style: none;
    display: grid;
    padding: 0;
    margin: 1rem 0;
    grid-template-columns: repeat(3, 6rem); /* 6rem 6rem 6rem */
    grid-template-rows: repeat(3, 6rem);
    justify-content: center;
    gap: 0.5rem;
}

#game-board li {
    background-color: var(--secondary-white-color);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}

#game-board li:hover {
    background-color: var(--secondary-blue-color);
}

#game-board li.disabled {
    background-color: var(--secondary-blue-color);
    color: var(--primary-white-color);
    cursor: default;
}
